In [5]:
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow
from google.auth.transport.requests import Request
import pandas as pd
import pickle
import os.path

In [7]:
def main(sample_range_name, sample_spreadsheet_id):

    creds = None
    # The file token.pickle stores the user's access and refresh tokens, and is
    # created automatically when the authorization flow completes for the first
    # time.
    if os.path.exists('token.pickle'):
        with open('token.pickle', 'rb') as token:
            creds = pickle.load(token)
    # If there are no (valid) credentials available, let the user log in.
    if not creds or not creds.valid:
        if creds and creds.expired and creds.refresh_token:
            creds.refresh(Request())
        else:
            flow = InstalledAppFlow.from_client_secrets_file(
                'credentials.json', SCOPES)
            creds = flow.run_local_server(port=0)
        # Save the credentials for the next run
        with open('token.pickle', 'wb') as token:
            pickle.dump(creds, token)

    service = build('sheets', 'v4', credentials=creds)

    # Call the Sheets API
    sheet = service.spreadsheets()
    result = sheet.values().get(spreadsheetId=sample_spreadsheet_id,
                                range=sample_range_name).execute()
    values = result.get('values', [])
    if not values:
        print('No data found.')
    else:
        df = pd.DataFrame(values)
        df.columns = df.iloc[0]
        df.drop(df.index[0], inplace=True) 
        return df

In [8]:
df = main("Página1", "1GYyp6cLDAhUDFz-itEUmp5lVxpqBJrj0075fjVVk7yM")

In [9]:
df.head()

0 id   nome nota
1  1  Lucas   10
2  2   João    9
3  3  Maria  9,5
4  4  Pedro    8
5  5    Ana  8,5